# OSX
*.DS_[Ss]tore
.DS_Store?
.LSOverride
._*
.Spotlight-V100
.Trashes
.vs
Icon?
# Windows
ehthumbs.db
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
# Unity / Visual Studio
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uilds/
[Ll]og
[Ll]ogs
ExportedObj/
UnityGenerated/
*.csproj
*.unityproj
*.sln
*.suo
*.svd
*.user
*.userprefs
*.pidb
*.booproj
*.log
